.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  height: 180px;
  width: 165px;
  /* outline: 1px solid red; */
}

.card__image-container {
  width: 88px;
  height: 89px;
  /* outline: 1px solid red; */
}

.card__image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.card__image-stars-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid red; */
}

.card__image-stars {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
}

.card__text {
  margin: 0;
  color: #828282;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}



@media screen and (max-width: 900px) {
  .card {
    height: 135px;
    width: 124px;
  }
  
  .card__image-container {
    width: 67px;
    height: 68px;
  }
} 
/*  
@media screen and (max-width: 640px) {
  .card {
    height: 500px;
    width: 288px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-right: 0;
    justify-content: center;
  }
  
  .card__text-container {
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
  }
  
  .card__image-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__info {
    width: 50%;
  }

  .card__image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
  }
  
  .card__title {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #94C31F;
  }
  
  .card__text {
    margin-top: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    width: 100%;
    padding-bottom: 10%;
  }
  
  .card__href-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
  }
} */
