.skills {
  margin: 0 auto 0;
  max-width: 1280px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.skills__title {
  margin: 0;
  margin-top: 90px;
  font-size: 34px;
  color: #070707;
  font-weight: 700;
}

.skills__text {
  margin: 0;
  font-size: 18px;
  font-style: 21px;
  color: #070707;
  font-weight: 500;
  text-align: center;
}

.skills__cards-container {
  display: flex;
  margin-bottom: 100px;
  column-gap: 35px;
}

@media screen and (max-width: 900px) {
  .skills {
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  .skills {
    max-width: 375px;
    height: 1540px;
    justify-content:center
  }

  .skills__title {
    margin-top: 83px;
  }
  
  .skills__text {
    margin-top: 50px;
  }

  .skills__cards-container {
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 70px;
    row-gap: 82px;
  }

}

