.skills {
  margin: 0 auto 0;
  max-width: 1280px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  outline: 1px solid red;
}

.skills__title {
  margin: 0;
  margin-top: 90px;
  font-size: 34px;
  color: #070707;
  /* outline: 1px solid red; */
}

.skills__text {
  margin: 0;
  font-size: 18px;
  font-style: 21px;
  color: #070707;
  /* outline: 1px solid red; */
}

.skills__cards-container {
  display: flex;
  margin-bottom: 100px;
  column-gap: 35px;
}
