@import url(./vendor/normalize.css);
@import url(./vendor/font/font.css);

.body {
  background-color: #fff;
}

/* #root {
  font-family: 'Inter', Arial, sans-serif;
  background-color: rgb(240, 240, 240);
} */